@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--grey-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
  font-family: var(--main-font-family);
}

.logo {
  color: var(--green-900);
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}

.calculator {
  background-color: var(--white);
  box-shadow: 0px -1px 20px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.5rem;
  width: min(60vw, 750px);
  min-width: 400px;
}

.input-container {
  display: grid;
  row-gap: 5px;
}

.input-container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error-msg {
  color: red;
  font-size: 0.8rem;
  visibility: hidden;
  pointer-events: none;
}

.error-msg--visible {
  visibility: visible;
  pointer-events: auto;
}

.input-wrapper {
  background-color: var(--grey-50);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 40px;
  overflow: hidden;
}

.input-wrapper:focus-within {
  outline: 2.2px solid var(--green-400);
}

.input-wrapper--error,
.input-wrapper--error:focus-within {
  outline: 2.2px solid red;
}

.input-wrapper__icon {
  height: 15px;
  padding-inline: 10px;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--green-900);
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: right;
  padding-inline-end: 15px;
  height: 100%;
  width: 100%;
  outline: none;
}

.label {
  display: block;
  color: var(--grey-500);
  font-weight: 700;
  text-transform: capitalize;
}
